asgiref==3.9.1
boto3==1.40.60
botocore==1.40.60
certifi==2024.8.30
cffi==2.0.0
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.3.2
cryptography==46.0.2
dj-database-url==3.0.1
Django==5.2.7
django-allauth==65.12.0
django-environ==0.12.0
django-heroku==0.3.1
django-storages==1.14.6
gunicorn==23.0.0
idna==3.8
jmespath==1.0.1
packaging==25.0
pillow==12.0.0
psycopg2==2.9.11
pycparser==2.23
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2024.1
requests==2.32.5
s3transfer==0.14.0
six==1.16.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.2.2
wheel==0.45.1
whitenoise==6.11.0
