/* Change color of primary button */
.btn-primary {
  background-color: #5b84d7 !important;
  border-color: #5b84d7 !important;
}

.btn-primary:hover {
    background-color: #2851a4 !important;
    border-color: #2851a4 !important;
}

body {
    margin: 0;
    line-height: 1.5;
    background-color: #F0F8FF;
    height: 100%;
}

.wrapper{
    display: flex;
    height: 100vh;
    background-color: transparent;
    color: black;
}

.main{
    height: 100%;
    padding: 40px;
    overflow-y: scroll;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

/* .main::-webkit-scrollbar {
  display: none;
} */

.side-panel-toggle {
    width: 57px;
    height: 55px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    top: 0;
    right:0;

    color: #ffffff;
    background: #98b2e6;
    border: none;
    border-radius: 6px 0 0 6px;
    outline: none;
    cursor: pointer;
    transition: right 0.3s ease;
    position: fixed;
    z-index: 2000

}

.side-panel-toggle:hover{
    background: #84a3e1;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #98b2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    align-self: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1500;
}

.side-panel-open .side-panel {
    transform: translateX(0);
}

.side-panel-open .sp-icon-open{
    display: none !important;
}

.side-panel-open .sp-icon-close{
    display: initial !important;
}

.side-panel-open .side-panel-toggle {
    right: 250px; /* same width as panel */
}

/* https://www.w3schools.com/howto/howto_css_searchbar.asp */
/* Search bar */
.searchbar {
    justify-content: flex-start;
}

.searchbar input[type=text] {
    flex-grow:1;
    float: right;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 6px 6px 6px 6px;
    font-size: 17px;
    width: 1000px;
    margin-right: 4px;
}

/* Search button */
.search-button {
    width: 45px;
    height: 40px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 0px;
    padding-top: 5px;
    margin-right: 30px;

    color: #ffffff;
    background: #5b84d7;
    border: none;
    border-radius: 6px 6px 6px 6px;
    outline: none;
    cursor: pointer;
}

.search-button:hover{
    background: #2851a4;
}

.search-container {
    display: flex;
}

.create-trip {
    font-size:16px;
    height: 42px;
    width: 600px;
}

.listings-filters-container {
    display: flex;
    height: 100%;
}

/* filters box styling */
.filters-box {
    display: flex;
    width: 275px;
    height: 100%;
    background-color: #84a3e1;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    outline: none;

    margin-top: 5px;
    margin-left: auto;

}

.listings-container {
    color: black;
    display: flex;
    margin-bottom: auto;
    margin-top: 25px;
}

/* empty box with color for listings back */
.empty-listings-box {
    margin-top: 5px;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    background-color: #c1d1f0;
    border-radius: 10px 10px 10px 10px;

}
