/* Change color of primary button */
.btn-primary {
  background-color: #5b84d7 !important;
  border-color: #5b84d7 !important;
}

body {
    margin: 0;
    line-height: 1.5;
}

.wrapper{
    display: flex;
    height: 100vh;
}

.main{
    flex-grow: 1;
    padding: 50px;
    overflow-y: auto;
}

.side-panel-toggle {
    width: 57px;
    height: 55px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: #ffffff;
    background: #98b2e6;
    border: none;
    border-radius: 6px 0 0 6px;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover{
    background: #84a3e1;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    display: none;
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #98b2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
    display: initial;
}

.side-panel-open .sp-icon-open{
    display: none !important;
}

.side-panel-open .sp-icon-close{
    display: initial !important;
}

