/* Change color of primary button */
.btn-primary {
  background-color: #C47A35 !important;
  border-color: #C47A35 !important;
}

.btn-primary:hover {
    background-color: #a0642c !important;
    border-color: #a0642c !important;
}

body {
    margin: 0;
    line-height: 1.5;
    background-color: #F0F8FF;
    height: 100%;
}

.wrapper{
    display: flex;
    height: 100vh;
    background-color: transparent;

}

.main{
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
}

.side-panel-toggle {
    width: 57px;
    height: 55px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: #ffffff;
    background: #37518C;
    border: none;
    border-radius: 6px 0 0 6px;
    outline: none;
    cursor: pointer;
    transition: right 0.3s ease;
    position: fixed;
    z-index: 2000;
    top: 0;
    right:0;
}

.side-panel-toggle:hover{
    background: #2E4376;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #37518C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    align-self: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1500;
}

.side-panel-open .side-panel {
    transform: translateX(0);
}

.side-panel-open .sp-icon-open{
    display: none !important;
}

.side-panel-open .sp-icon-close{
    display: initial !important;
}

.side-panel-open .side-panel-toggle {
    right: 250px; /* same width as panel */
}

/* https://www.w3schools.com/howto/howto_css_searchbar.asp */
/* Search bar */
.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchbar input[type=text] {
    flex-grow:1;
    float: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px 6px 6px 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 1225px;
    margin-right: 6px;
}

/* Search button */
.search-button {
    width: 45px;
    height: 40px;
    flex-shrink: 0;
    place-items: center;
    justify-content: center;
    margin-top: 6px;
    padding-top: 5px;
    margin-left: 10px;

    color: #ffffff;
    background: #37518C;
    border: none;
    border-radius: 6px 6px 6px 6px;
    outline: none;
    cursor: pointer;
}

.search-button:hover{
    background: #2E4376;
}

.search-container {
    display: flex;
}

.listings-filters-container {
    display: flex;
    height: 100%;
}

/* filters box styling */
.filters-box {
    display: flex;
    width: 275px;
    height: 100%;
    background-color: #37518C;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    outline: none;

    margin-left: auto;
}

.listings-container {
    color: black;
    display: flex;
    margin-bottom: auto;
    margin-top: 25px;
}

/* empty box with color for listings back */
.empty-listings-box {
    margin-top: 5px;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    background-color: #c1d1f0;
    border-radius: 10px 10px 10px 10px;

}

.notification-badge {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 14px;
    height: 14px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    z-index: 3000;
}