
  .chat-container {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;           
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

  .chat-header {
    padding: 15px;
    background-color: #2851a4;
    color: white;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 60vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
  }
  
  .message {
    display: inline-block;
    margin: 8px 0;
    padding: 10px 14px;
    border-radius: 16px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .message.sent {
    background-color: #C47A35;
    color: white;
    margin-left: auto;
    text-align: right;
  }
  
  .message.received {
    background-color: #e4e6eb;
    color: black;
    margin-right: auto;
    text-align: left;
  }
  
  .chat-input {
    display: flex;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex-grow: 1;
    border: none;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border-bottom-left-radius: 10px;
  }
  
  .chat-input button {
    border: none;
    background-color: #2851a4;
    color: white;
    padding: 0 25px;
    border-bottom-right-radius: 10px;
  }
  
  .chat-input button:hover {
    background-color: #2E4376;
  }